.card {
  background-color: #363636;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  width: 350px;
}

.card:hover {
  background-color: #464646;
}

.img {
  border-radius: 1rem;
  width: 100%;
}

.text {
  color: white;
}
